.g-card { 
    max-width: 250px;
    width: 250px;
    height: auto;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.f-card { 
    width: 480px;
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0;
}

.img-1 { 
    width: 240px;
    height: 200px;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
  }

.item-2{
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
}
.bottom-1{
    padding-left: 0;
    padding-right: 0;
}

.g-grid {
    width: 100%;
}