.g-card { 
    max-width: 340px;
    width: 340px;
    height: auto;
    margin-top: 0;
}

.f-card { 
    width: 480px;
    height: auto; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 0;
}

.img-1 { 
    width: 250px;
    height: 200px;
    object-fit: contain;
  }

  .item-2{
    word-wrap: break-word;
}
