.ml-auto { margin-left: auto;}
.mr-auto { margin-right: auto;}
.mt-auto { margin-top: auto}
.mb-auto { margin-bottom: auto}

.mt-1 { margin-top: 1em;}
.mt-2 { margin-top: 2em;}
.mt-3 { margin-top: 3em;}
.mt-4 { margin-top: 4em;}

.mb-1 { margin-bottom: 1em;}
.mb-2 { margin-bottom: 2em;}
.mb-3 { margin-bottom: 3em;}
.mb-4 { margin-bottom: 4em;}

.ml-1 { margin-left: 1em;}
.ml-2 { margin-left: 2em;}
.ml-3 { margin-left: 3em;}
.ml-4 { margin-left: 4em;}

.mr-1 { margin-right: 1em;}
.mr-2 { margin-right: 2em;}
.mr-3 { margin-right: 3em;}
.mr-4 { margin-right: 4em;}

.h-30 { height: 30%; }
.w-30 { width: 30%; }
.h-40 { height: 40%; }
.w-40 { width: 40%; }
.h-50 { height: 50%; }
.w-50 { width: 50%; }
.h-100 { height: 100%; }
.w-100 { width: 100%; }

.h-1 { height: 1em;}
.h-2 { height: 2em;}
.h-3 { height: 3em;}
.h-4 { height: 4em;}

.w-1 { width: 1em}
.w-2 { width: 2em}
.w-3 { width: 3em}
.w-4 { width: 4em}

@font-face {
    font-family: 'Roboto';
    src: "assets/fonts/Roboto-Regular.ttf";
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: "assets/fonts/Roboto-Bold.ttf";
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: "assets/fonts/Roboto-BoldItalic.ttf";
    font-weight: bold;
    font-style: italic;
}

.f-10 {font: 10px Roboto }
.f-11 {font: 11px Roboto }
.f-12 {font: 12px Roboto }
.f-13 {font: 13px roboto
 }
.f-14 {font: 14px Roboto }
.f-15 {font: 15px Roboto }
.f-16 {font: 16px Roboto }
.f-17 {font: 17px Roboto }
.f-18 {font: 18px Roboto }
.f-19 {font: 19px Roboto }
.f-20 {font: 20px Roboto }
.f-21 {font: 21px Roboto }
.f-22 {font: 22px Roboto }
.f-23 {font: 23px Roboto }

.hidden {
    display: none;
}

.blue {
    color:blue;
}


.m-input {
    /* margin-top: 0.5em; */
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top:0;
    --padding-end:0;
    --padding-bottom:0;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    position:relative;
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    z-index:2;

    border-radius:var(--border-radius);
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    text-align:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    border:0;
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none

}
.react-dadata__input{
    /* margin-top: 0.5em; */
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top:0;
    --padding-end:0;
    --padding-bottom:0;
    --padding-start:0;
    --background:transparent;
    --color: var(--ion-item-color, var(--ion-text-color, #000));
    /* position:relative; */
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    border: 0px none black;
    z-index:2;

    /* border-radius:var(--border-radius); */
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    text-align:inherit;
    white-space:inherit;
    color: var(--color);
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    /* border:0; */
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}
.react-dadata__container {
    /* width: 100%; */
    height: 100%;
    border-bottom: 1px solid gray;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: inherit;
}